.search-btn {
  margin-top: 15px !important;
  height: 55px !important;
}

.search-field input{
  height: 25px !important;
  padding: 15px !important;
  background: rgba(255, 255, 255, 0.85);
}

.search-container {
  margin-top: 64px !important;
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  color: white;
}

.search-container .MuiGrid-item{
  text-align: center !important;
  color: #373434 !important;
}

.event-list {
  margin-top: 50px !important;
}

.event-list .MuiGrid-item{
  padding: 20px !important;
}

.event-card {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
  min-height: 60px;
}

.add-btn-con {
  padding: 10px !important;
}

.add-btn {
  margin: 10px !important;
}

.create-event-container .MuiFormControl-root {
  width: 300px;
}

.create-event-container {
  margin-top: 70px !important;
}

.create-event-container .MuiGrid-item {
  padding: 10px !important;
}

.event-detail-con {
  margin-top: 80px !important;
}

.event-detail-con .MuiCardMedia-media {
  height: 100%;
}